:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  /* display: flex; */
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  text-align: center;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.academy-teachers{
  padding: 2rem;
}
.academy-teachers>h2{
  letter-spacing: 0.5rem;
  text-align: center;
}
.card{
  text-align: center;
}

.academy-about-us{
  padding: 2rem;
  background-color: #6F8FAF;
  color: black;
  text-align: center;
}
.academy-about-us>h2{
  letter-spacing: 0.5rem;
}

.academy{
  padding: 2rem;
  background-color: white;
  color: black;
  text-align: center;
}
.academy>h2{
  letter-spacing: 0.5rem;
}

footer{
  padding: 2rem;
  text-align: center;
}

dl{
  text-align: left;
  padding-left: 2rem;
}
dt{
  color: #536c85;
}

.registration-form,
.login-form,
.update-form{
  box-sizing: content-box;
  margin: 0 5%;
  padding: 2rem 20rem;
  text-align: center;
}

.link-back-home{
  position: relative;
}

.list-group{
  text-align: left;
}

.header-courses>h2{
  text-align: left;
  letter-spacing: 0.5rem;
}

@media screen and (max-width: 900px) {
  .registration-form,
  .login-form{
    margin: 0;
    padding-top: 2rem;
    padding-left: 10rem;
    padding-right: 10rem;
  }
}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
